@use "../common/breackpoint" as *;
@use "../common/mixins" as *;
@use "../common/toRem" as *;

.not-found {
    height: calc(100vh - 130px);
    display: flex;

    @include max($mobile) {
        height: calc(100vh - 100px);
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: toRem(16px);
        padding-top: toRem(100px);
    }

    .image-404 {
        width: toRem(140px);
        height: auto;
    }

    .title-404 {
        font-size: toRem(32px);
        font-weight: 700;
        line-height: toRem(38.4px);
        text-align: center;
        color: var(--text-color);
    }

    .paragraph {
        margin-bottom: 0;
        text-align: center;
    }
}