.received {
    background: #e0f2fe;
    color: #0284c7;

}

.given {
    background: #f0fdf4;
    color: #16a34a;
}

.likes {
    background: #fef2f2;
    color: #dc2626;
}

.hearts {
    background: #fee2e2;
    color: #F4631E;
}