@use "../../assets/scss/common/1920px" as *;


.hero-section {
    max-width: $apx-1200;
    margin: $apx-32 auto;
    display: flex;
    align-items: center;
    gap: $apx-64;
    padding: $apx-32;

    .hero-text,
    .hero-image {
        flex: 1;
    }


    .hero-image,
    .hero-image img {
        pointer-events: none;
    }

}