.form-tabs {
    .tab-btn {
        background: none;
        border: none;
        padding: 0.75rem 1.5rem;
        font-size: 1rem;
        font-weight: 500;
        color: var(--color-base-content);
        cursor: pointer;
        transition: all 0.3s ease;
        border-radius: 0.5rem;

        &.active {
            background: var(--color-primary);
            color: var(--color-white);
        }
    }
}


.form-section {
    display: none;
    margin: 0 auto;

    &.active {
        display: flex;
        animation: fadeIn 0.3s ease;
    }
}