@use "../common/1920px" as *;

.btn {
    display: inline-flex;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: $apx-16;
    font-weight: 500;
    text-decoration: none !important;
    padding: $apx-12 $apx-24;
    border-radius: 0.5rem;
    border: 2px solid;
    -webkit-transition: all 0.3s ease;
    transition: all 0.25s ease;
    cursor: pointer;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    width: fit-content;



    &.btn-primary {
        background: var(--primary-color);
        color: var(--white);
        font-size: $apx-18;
        padding: $apx-16 $apx-32;
        display: inline-block;

        &:hover {
            background: var(--primary-color-hover);
            transform: translateY(-2px);
            box-shadow: 0 4px 12px rgba(37, 99, 235, 0.2);
        }
    }




    &.btn-outline {
        background-color: transparent;
        border-color: var(--primary-color);
        color: var(--primary-color);

        &:hover {
            background-color: var(--primary-color);
            color: var(--white);
        }
    }

    &[disabled] {
        cursor: not-allowed;
        opacity: 0.5;
        background-color: #ccc;
        border-color: #ccc;

        &:hover {
            background-color: #ccc;
            border-color: #ccc;
            color: var(--text-color);
        }
    }

    &.btn-solid {
        background-color: var(--primary-color);
        border-color: var(--primary-color);
        color: var(--white);

        &:hover {
            background-color: var(--primary-color-hover);
            border-color: var(--primary-color-hover);
        }
    }

}