@import "../../../assets/scss/common/utils";
@import "../../../assets/scss/common/checkbox";


.login {
    min-height: calc(100vh - 130px);
    display: flex;
    overflow-y: auto;
    padding: toRem(15px) 0;

    @include max($mobile) {
        min-height: calc(100vh - 100px);
    }

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        gap: toRem(50px);
    }

    .content {
        max-width: toRem(448px);
        width: 100%;

        .loginFormContainer {
            height: fit-content;
            border: 1px solid var(--border-color);
            box-shadow: 8px 8px 9.39px 0px #0000001a;
            border-radius: toRem(10px);
            padding: toRem(32px);
            color: var(--text-color);
            background-color: var(--body-background-color);

            .greeting {
                font-size: toRem(25px);
                font-weight: 300;
                line-height: toRem(37.5px);
                margin-bottom: toRem(15px);
            }

            .title-h1 {
                margin-bottom: 0;
                color: var(--primary-color);
            }

            .sub-title {
                display: inline-block;
                font-size: toRem(16px);
                line-height: toRem(24px);
                margin-bottom: toRem(10px);
            }

            // imput

            label.label {
                display: block;

                &:not(:last-child) {
                    margin-bottom: toRem(5px);
                }

                .label_text {
                    font-size: toRem(16px);
                    line-height: toRem(24px);
                    display: inline-block;
                    margin-bottom: toRem(9px);
                }

                .error-msg {
                    font-size: toRem(12px);
                    line-height: toRem(18px);
                    height: toRem(19px);
                    display: block;
                    width: 100%;
                }
            }

            input[type="text"],
            input[type="email"],
            input[type="password"] {
                padding: toRem(8px) toRem(12px);
                width: 100%;
                height: toRem(42px);
                gap: 0px;
                border-radius: 6px;
                border: 1px dashed var(--input-border-color);
                font-size: toRem(16px);
                outline: none;
                background-color: transparent;
                color: var(--text-color);
                margin-bottom: toRem(2px);

                &::placeholder {
                    font-size: toRem(14px);
                    color: var(--input-placeholder-color);
                }

                &:focus-visible {
                    border: toRem(1px) solid var(--input-border-color);
                }
            }

            .passwordContainer {
                position: relative;

                input[type="password"],
                input[type="text"] {
                    padding-right: toRem(50px);
                }

                .eyeButton {
                    padding: toRem(5px);
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0;
                    outline: none;
                    border: 0;
                    background-color: transparent;
                    position: absolute;
                    right: toRem(17px);
                    top: 50%;
                    transform: translateY(-50%);
                    cursor: pointer;
                }
            }

            .fromOptions {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: toRem(0px);
                margin-bottom: toRem(20px);

                .forgotPassword {
                    font-size: toRem(12px);
                    font-weight: 300;
                    line-height: toRem(18px);

                    &:hover {
                        text-decoration: underline;
                    }

                }
            }

            .btn {
                width: 100%;
            }

            .socialLogin {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: toRem(20px);
                margin-top: toRem(20px);
                margin-bottom: toRem(20px);

                button {
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    padding: toRem(8px) toRem(12px);
                    border: 1px solid var(--border-color);
                    border-radius: 8px;
                    display: flex;
                    gap: 8px;
                    font-size: 14px;
                    color: var(--text-color);
                    font-weight: 600;
                    transition: var(--transition);

                    &:hover {
                        border-color: var(--primary-color);
                    }
                }
            }

            .noAccount {
                font-size: toRem(16px);
                font-weight: 300;
                line-height: toRem(24px);
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                gap: toRem(6px);

                .link {
                    font-size: toRem(17px);
                    font-weight: 600;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .error_container {
        font-size: toRem(14px);
        line-height: toRem(16px);
        margin-bottom: toRem(10px);
        min-height: toRem(32px);
    }
}