@import "../../../assets/scss/common/utils";

.forgot-password {
    min-height: calc(100vh - 130px);
    display: flex;
    overflow-y: auto;
    padding: toRem(15px) 0;

    .wrapper {
        display: flex;
        justify-content: center;
        height: 100%;
    }


    .content {
        max-width: toRem(505px);
        height: fit-content;
        border: 1px solid var(--border-color);
        box-shadow: 0px 4px 64px 0px #0000000D;
        border-radius: toRem(10px);
        padding: toRem(30px);
        color: var(--primary-color);
        margin-top: 15%;

        .paragraph {
            margin-bottom: 0;
        }

        .account {
            font-size: toRem(16px);
            font-weight: 300;
            line-height: toRem(24px);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: toRem(6px);
            margin-top: toRem(20px);
            color: var(--text-color);

            .link {
                font-size: toRem(17px);
                font-weight: 600;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .form-group {
        margin-bottom: toRem(20px);
    }

    label.label {
        display: block;

        &:not(:last-child) {
            margin-bottom: toRem(15px);
        }

        .label_text {
            font-size: toRem(16px);
            line-height: toRem(24px);
            display: inline-block;
            margin-bottom: toRem(9px);
        }

        .error-msg {
            font-size: toRem(12px);
            line-height: toRem(18px);
            height: toRem(19px);
            display: block;
            width: 100%;
        }
    }


    input[type="email"] {
        padding: toRem(12px) toRem(27px);
        width: 100%;
        height: toRem(49px);
        gap: 0px;
        border-radius: 6px;
        border: 1px dashed var(--input-border-color);
        font-size: toRem(16px);
        outline: none;
        background-color: transparent;
        color: var(--primary-color);
        margin-bottom: toRem(2px);

        &::placeholder {
            font-size: toRem(14px);
            color: var(--input-placeholder-color);
        }

        &:focus-visible {
            border: toRem(1px) solid var(--input-border-color);
        }
    }

    .error_container {
        font-size: toRem(14px);
        line-height: toRem(16px);
        margin-bottom: toRem(10px);
        min-height: toRem(32px);
    }
}